.home_container {
    position: absolute;
    width: 110px;
    height: 50px;
    top:55px;
    left:43px;
}
#btn_home {
    width: 110px;
    height: 50px;
    opacity: 0.0;
}
#btn_home:hover {
    cursor: pointer;
}

/* nav바 구현 */

#btn_PTInformation {
    width:120px;
    height:50px;
    opacity: 0.0;
}

#btn_PTInformation:hover {
    cursor: pointer;
}
#btn_UserMatching:hover {
    cursor: pointer;
}
#btn_Feedback:hover {
    cursor: pointer;
}

.nav_container {
    position: absolute;
}

.selected {
    position: absolute;
    border-bottom: 4px solid #dd3459;
}

.nav_container:hover {
    border-bottom: 4px solid #dd3459;
    opacity: 0.3;
}

#PT_container {
    width: 90px;
    height: 50px;
    top:50px;
    left:678px;
}
#matching_container {
    width: 160px;
    height: 50px;
    top:50px;
    left:908px;
}
#feedback_container {
    width: 142px;
    height: 50px;
    top:50px;
    left:1195px;    
}

#btn_UserMatching {
    width:150px;
    height:50px;
    opacity: 0.0;
}

#btn_Feedback {
    width:142px;
    height:50px;
    opacity: 0.0;
}

/* 회원가입/로그인 */
#btn_Login {
    width: 55px;
    height: 20px;
    opacity: 0.0;
}
#btn_Login:hover {
    cursor: pointer;
}

#btn_Signup {
    width: 70px;
    height: 20px;
    opacity: 0.0;
}
#btn_Signup:hover {
    cursor: pointer;
}

#login_container {
    position: absolute;
    width: 55px;
    height: 20px;
    top:20px;
    left:1825px;
}

#signup_container {
    position: absolute;
    width: 70px;
    height: 20px;
    top:20px;
    left:1732px;  
}