/* 맵 css */
#map {width:100%;height:100%;position:relative;overflow:hidden;}
.map_wrap {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Nanum Square',Dotum,sans-serif;
    font-weight: 400;
    letter-spacing: -.3px;
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
    color: #58595b;
}
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;margin-left:150px; width:1600px;height:600px;}
.search-container {
    position: absolute;
    left: 50px;
    top: 40px;
    height: calc(100% - 80px);
    width: 462px;
    border: 1px solid #939598;
    border-radius: 4px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 1500;
    background: white;
}
.location-view { 
    background-color: white;
    height: auto !important;
    line-height: 1 !important;
    padding: 30px !important;
    background: white !important;
 }
.search-container{text-align: center;}
.search-container p {margin:10px 0;}  
.search-container button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}


.home_container {
    position: absolute;
    width: 110px;
    height: 50px;
    top:55px;
    left:43px;
}

#btn_home {
    width: 110px;
    height: 50px;
    opacity: 0.0;
}
#btn_home:hover {
    cursor: pointer;
}

/* nav바 구현 */

#btn_PTInformation {
    width:120px;
    height:50px;
    opacity: 0.0;
}

#btn_PTInformation:hover {
    cursor: pointer;
}
#btn_UserMatching:hover {
    cursor: pointer;
}
#btn_Feedback:hover {
    cursor: pointer;
}

.nav_container {
    position: absolute;
}

.selected {
    position: absolute;
    border-bottom: 4px solid #dd3459;
}

.nav_container:hover {
    border-bottom: 4px solid #dd3459;
    opacity: 0.3;
}

#PT_container {
    width: 90px;
    height: 50px;
    top:50px;
    left:678px;
}
#matching_container {
    width: 160px;
    height: 50px;
    top:50px;
    left:908px;
}
#feedback_container {
    width: 142px;
    height: 50px;
    top:50px;
    left:1195px;    
}

#btn_UserMatching {
    width:150px;
    height:50px;
    opacity: 0.0;
}

#btn_Feedback {
    width:142px;
    height:50px;
    opacity: 0.0;
}

/* 회원가입/로그인 */
#btn_Signin {
    width: 55px;
    height: 20px;
    opacity: 0.0;
}
#btn_Signin:hover {
    cursor: pointer;
}

#btn_Signup {
    width: 70px;
    height: 20px;
    opacity: 0.0;
}
#btn_Signup:hover {
    cursor: pointer;
}

#signin_container {
    position: absolute;
    width: 55px;
    height: 20px;
    top:20px;
    left:1825px;
}

#signup_container {
    position: absolute;
    width: 70px;
    height: 20px;
    top:20px;
    left:1732px;  
}

.PT_navbar {
    border-top: solid #ececec 1px;
    height: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

#back_container {
    float: left;
    display: inline-block;
    margin-top: 30px;
}

.icon-menu-container > a {
    text-decoration: none;
}

.icon-menu-container {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-top: 20px;
}

.icon-menu {
    display: inline-block;
    text-align: center;
    margin-left: 25px;
    transition: transform 0.2s;
    cursor: pointer;
    outline: none;
}

.icon-holder {
    position: relative;
    margin: auto;
    width: 50px;
    height: 50px;
}

span {
    display: inline-block;
    font-size: 10px;
    line-height: 1;
    margin-top: 8px;
}
