button {
    width:120px;
    height:50px;
    cursor:hand;
    opacity: 0.0;
    position:absolute;
    top:60px;
    left:630px;
    z-index:100;
}

.startButtonForPT {
  position: absolute;
  z-index: 101;
  top:500px;
  left: 1000px;
}

.startButtonForPartner {
  position: absolute;
  z-index: 101;
  top:500px;
  left: 1000px;
}

.startButtonForBodyProfile {
  position: absolute;
  z-index: 101;
  top:500px;
  left: 1000px;
}

.swiper-container {
    width: 1920px;
    height: 980px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 21px;
    font-size: 15px;
    color: black;
    opacity: 0.5;
    background: rgba(255,255,255,100);
  }
  .swiper-pagination-bullet-active {
    color:rgba(0,0,0,100);
    opacity: 0.8;
    background: rgba(255,255,255,255);
  }