  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .each-fade .image-container img {
    width: 100%;
    height: 100%;
  }
  
  .each-fade h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }

  .navBar {
    width: 1920px;
    height: auto;
  }

  .navBarHomeButton {
    position: absolute;
    opacity: 0.0;
    top:54px;
    left:42px;
    width: 120px;
    height: 60px;
  }

  .navBarSignUpButton {
    position: absolute;
    opacity: 0.0;
    top: 12px;
    left: 1725px;
    width: 80px;
    height: 35px;
  }

  .navBarSignInButton {
    position: absolute;
    opacity: 0.0;
    top: 12px;
    left: 1820px;
    width: 65px;
    height: 35px;
  }